In [1]:
mylist= []

stringHello='HEllo World'
mylist=[letter for letter in stringHello]

In [2]:
mylist

['H', 'E', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [5]:
mylist= [x**2 for x in range(0,11)]

In [6]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
#with if statements also posiible:
mylist=[x for x in range(0,11) if x%2==0]

In [8]:
mylist

[0, 2, 4, 6, 8, 10]

In [9]:
celcius=[0,10,20,34.5]
farenheit=[((9/5)*temp+32) for temp in celcius]

In [11]:
#wow its awesome
farenheit

[32.0, 50.0, 68.0, 94.1]

In [14]:
#same but a little bit longer 
farenheit=[]
for temp in celcius:
    farenheit.append((9/5)*temp+32)

In [13]:
farenheit

[32.0, 50.0, 68.0, 94.1]

In [16]:
#bad habbit to put if before loop 
results=[x if x%2==0 else 'Odd' for x in range(0,11)]

In [17]:
mylist=[]
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [18]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]